.visuallyHidden {
  composes: visually-hidden from "../styles/index.css";
}

.container {
  padding: 4rem;
}

.container_main {
  display: flex;
  justify-content: space-between;
}

/* .container_switch {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between; /* !!
} */

.container_intro {
  composes: container;
  width: 36vw;
  min-width: 61rem;
  max-height: 65vh;
}


.container_ctas {
  display: flex;
  /* width: 36vw; */
  /* max-height: 15vh; */
}

.container_ctaToilets {
  composes: container;
  composes: bg_black from "../styles/colors.module.css";
  composes: color_white from "../styles/colors.module.css";
}

.container_ctaStory {
  composes: container;
  composes: bg_white from "../styles/colors.module.css";
  composes: color_black from "../styles/colors.module.css";
}

.btn_white {
  composes: btn from "../styles/layout.module.css";
  composes: bg_white from "../styles/colors.module.css";
  composes: color_black from "../styles/colors.module.css";
}

.btn_black {
  composes: btn from "../styles/layout.module.css";
  composes: bg_black from "../styles/colors.module.css";
  composes: color_white from "../styles/colors.module.css";
}

/* .container_aside {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 19rem; /* !! + height?
} */

/* .container_facts {
  composes: container;

  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
} */

aside div {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
  text-align: center;
}

.container_stories {
  composes: container;
  display: flex;
  align-items: flex-start;
  transform: translate(-50%);
  background: white;
  grid-area: intro;
}

.reverse{
  display:flex;
  padding: 2rem;
  width: 40rem;
  height: 20rem;
  grid-area: reverse;
}

.stories_tiles{
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
  "intro . ."
  ". . button"
  ;
}

.top_title_yellow{
  border-bottom: 4px solid  var(--yellow);
  padding: 0rem 6rem 0rem 0rem;
}

.top_title_blue{
  border-bottom: 4px solid  var(--blue);
  padding: 0rem 6rem 0rem 0rem;
}

.top_title_pink{
  border-bottom: 4px solid  var(--pink);
  padding: 0rem 6rem 0rem 0rem;
}

.intro_stories{
  font-weight: bold;
}

.more_button{
  background: black;
  color: white;
  border: none;
  position: relative;
  font-size: 2rem;
  padding: 2rem 3rem;
  grid-area: button;
}

.toggle{
  composes: more_button;
  font-size: 3rem;
  transform: translateX(0) translateY(20rem) rotate(90deg);
  transform-origin: right top;
}


