.visuallyHidden {
  composes: visually-hidden from "../styles/index.css";
}

.container {
  padding: 4rem;
}

.container_main {
  display: flex;
  justify-content: space-between;
}

/* .container_switch {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between; /* !!
} */

.container_intro {
  composes: container;
  width: 36vw;
  min-width: 100%;
  max-height: 65vh;
}

.container_wrapper{
  max-width: 61rem;
}

.container_ctas {
  display: flex;
  /* width: 36vw; */
  /* max-height: 15vh; */
}

.container_ctaToilets {
  composes: container;
  composes: bg_black from "../styles/colors.module.css";
  composes: color_white from "../styles/colors.module.css";
}

.container_ctaStory {
  composes: container;
  composes: bg_white from "../styles/colors.module.css";
  composes: color_black from "../styles/colors.module.css";
}

.btn_white {
  composes: btn from "../styles/layout.module.css";
  composes: bg_white from "../styles/colors.module.css";
  composes: color_black from "../styles/colors.module.css";
}

.btn_black {
  composes: btn from "../styles/layout.module.css";
  composes: bg_black from "../styles/colors.module.css";
  composes: color_white from "../styles/colors.module.css";
}

/* .container_aside {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 19rem; /* !! + height?
} */

/* .container_facts {
  composes: container;

  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
} */

aside div {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
  text-align: center;
}

.stories_tiles{
  display: grid;
  padding: 2rem;
  padding-left: 25rem;
  background: white;

  grid-template-columns: 37rem 37rem 37rem;
  grid-template-rows: 15rem 15rem;
  grid-auto-flow: row dense;
  grid-template-areas:
  "title . ."
  ". .  button"
  ;
  justify-items: left;
  grid-gap: 3rem;
}

.reverse{
  margin-top: 3rem;
  composes: text_normal from "../styles/typo.module.css";
}

.container_stories {
  position: fixed;
  float:right;
  right:0;
  transform: translateX(130rem) translateY(11.5rem);
  transition: 0.3s transform ease-out;
}

.container_stories:hover {
  transform: translateX(0) translateY(11.5rem);
  transition: 0.5s transform ease-out;
}

.more_button{
  background: black;
  color: white;
  border: none;
  position: relative;
  font-size: 2rem;
  padding: 2rem 3rem;
  grid-area: button;
  cursor: pointer;
}

.button_border{
  padding: 3rem;
  display: flex;
  height: 12rem;
  border-style: solid;
}

.toggle{
  composes: more_button;
  font-size: 3rem;
  transform: translateX(-15.2rem)  translateY(24rem) rotate(90deg);
}

.title_where{
  grid-area: title;
}

.stories_happy{
  border: 2px solid  var(--yellow);
}

.stories_sad{
  border: 2px solid  var(--blue);
}

.stories_mad{
  border: 2px solid  var(--pink);
}

.top_title_yellow{
  border-bottom: 4px solid  var(--yellow);
  padding: 0rem 6rem 0rem 0rem;
}

.top_title_blue{
  border-bottom: 4px solid  var(--blue);
  padding: 0rem 6rem 0rem 0rem;
}

.top_title_pink{
  border-bottom: 4px solid  var(--pink);
  padding: 0rem 6rem 0rem 0rem;
}