.container_stats {
    display: flex;
    height: 50rem;
    align-items: flex-end;
    justify-content: space-around;
    width: 30rem;
}

.stat {
    composes: btnTitle_big from "../styles/typo.module.css";
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 10rem;
    height: 40rem;
}

.stat img {
    width: 10rem;
    margin-bottom: -3rem;
    position: relative;
}

.stat_yellow {
    fill: var(--yellow);
}

.stat_pink {
    fill: var(--pink);
}

.stat_blue {
    fill: var(--blue);
}

.stat span {
    padding: 2rem 0;
}