/* .container_switch {
    composes: container_switch from "./Home.module.css";
}

.container_right {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container_aside {
    composes: container_aside from "./Home.module.css";
}

.container_facts {
    composes: container_facts from "./Home.module.css";
} */