.reverse{
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 20rem;
}

.checkbox{
  display: flex;  
  align-items: center;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
