.center {
    text-align: center;
    padding-top: 2rem;
}
.btn_yellow {
    composes: btn from "../styles/layout.module.css";
    composes: bg_yellow from "../styles/colors.module.css";
    composes: color_black from "../styles/colors.module.css";  
}

.container {
    width: 100%;
}
.container_stories{
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

/* VOTE */
.vote_button {
    outline: none;
}

.container_vote {
    display: flex;
    flex-grow: 1;
    width: 30rem;
    padding: 2rem;
    min-height: 15rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}