.container_main {
    width: 100vw;
    height: 23.4rem;
    position: fixed;
    top: 0;
    z-index: 10;
    
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;

    transform: translateY(-20rem);
    transition: 0.5s transform ease-out;
}

.container_main:hover, .container_main:hover .container_filter {
    transform: translateY(0);
}

.container_blue {
    composes: container_main;
    composes: bg_blue from "../styles/colors.module.css";
}

.container_pink {
    composes: container_main;
    composes: bg_pink from "../styles/colors.module.css";
}

.container_yellow {
    composes: container_main;
    composes: bg_yellow from "../styles/colors.module.css";
}

.btn_black {
    composes: btn from "../styles/layout.module.css";
    composes: bg_black from "../styles/colors.module.css";
    composes: color_white from "../styles/colors.module.css";
  }

.article_mood {
    padding: 5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    
    composes: text_big from "../styles/typo.module.css";
    composes: color_white from "../styles/colors.module.css";
}

.container_filter {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;

    transform: translateY(6rem);
    transition: 0.5s transform ease-out;
}


.label_radio {
    display: block;
    position: relative;

    /* margin-bottom: -8rem; */
    cursor: pointer;
    composes: filterTitle_big from "../styles/typo.module.css";
}

.input_radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.input_radio:checked + label {
    color: var(--black);
    -webkit-text-stroke: 0;
    order: 1;
}
