.box, .box1, .box2{
  display: flex;
  justify-content: space-around;
}
.box{
  align-items: center;
  background-color: aliceblue;
  height: 10rem;
  width: 100%;

  position: absolute;
  bottom: 0;
}
.box1{
  width: 10%;
}
.box2{
  width: 25%;
}