nav {
  width: 100vw;
}

.container_nav, .container_nav_main, .container_nav_admin{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  /* width: 100%; */
}

.container_nav {
  /* width: 60vw; */
}

.container_nav li {
  /* width: 20%; */
  text-align: center;
}


.container_nav_main li:nth-child(1), .container_nav_admin li:nth-child(1) {
  flex-grow: 1;
}

.container_nav li:nth-child(1) {
  flex-grow: initial;
}

.navTitle {
  composes: navTitle from "../styles/typo.module.css";
  color: var(--black);
  margin: 2rem;
  border-bottom: 4px solid white;
}

.hover_blue:hover{
  border-bottom: 4px solid var(--blue);
}

.hover_red:hover{
  border-bottom: 4px solid var(--red);
}

.hover_yellow:hover{
  border-bottom: 4px solid var(--yellow);
}

.active_blue{
  border-bottom: 4px solid var(--blue);
}

.active_red{
  border-bottom: 4px solid var(--red);
}

.active_yellow{
  border-bottom: 4px solid var(--yellow);
}

.mainTitle{
  text-align: left;
  margin: 0;
  margin-top:-3rem;
  background: url(/assets/img/logo.jpg);
  min-height: 18rem;
  max-width: 14rem;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}