.box, .boxAdmin{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  width: 60vw;
}
.box {
  background-color: aliceblue;
}
.boxAdmin {
  background-color: gray
}