nav {
  width: 100vw;
}

.container_nav, .container_nav_main, .container_nav_admin{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  /* width: 100%; */
}

.container_nav {
  /* width: 60vw; */
}

.container_nav li {
  /* width: 20%; */
  text-align: center;
}


.container_nav_main li:nth-child(1), .container_nav_admin li:nth-child(1) {
  flex-grow: 1;
}

.container_nav li:nth-child(1) {
  flex-grow: initial;
}

.navTitle {
  composes: navTitle from "../styles/typo.module.css";
  color: var(--black);
  padding: 0 1rem;
}

.navTitle:hover {
  font-weight: bold;
  /* transition: 0.2s ease-out; */
}