.logoTitle {
  /* composes: visually-hidden from "../styles/index.css"; */
  width: 30vw;
}

.logoTitle::after{
  /* content: url("/assets/img/obv_logo.png"); */
  /* background-image: url("/assets/img/obv_logo.png"); */
  width: 5rem;
  height: 10rem;
}

.container {
  height: 28rem;
  width: 100vw;
  padding: 0 7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}