
.btn_black {
  composes: btn from "../styles/layout.module.css";
  composes: bg_black from "../styles/colors.module.css";
  composes: color_white from "../styles/colors.module.css";
  display: flex;
  text-align: center;
}
