@import "./reset.css";
@import "./colors.module.css";
@import "./layout.module.css";
@import "./typo.module.css";


html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  padding: 0 7rem;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  position: relative;
  height: 100vh;

  background-image: url(/assets/img/love.jpg), url(/assets/img/pee.jpg), url(/assets/img/tag.jpg), url(/assets/img/whoever.jpg);
  background-repeat: no-repeat;

  background-size: 10rem, 28rem, 13rem, 25rem;
  background-position-x: 94vw, 15vw, 77vw, 48vw;
  background-position-y: 23vh, 3vh, 73vh, 91vh;
}

#root {
  padding-top: 5rem;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
