@import "./reset.css";
@import "./colors.module.css";


html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  position: relative;
  height: 100vh;
}

main {
  padding: 0 7rem;
  height: 100%;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
