:global(:root){
    --font-base: 1.8rem;
}

.navTitle {
    font-size: 2.2rem;
    text-transform: uppercase; 
}

.btnTitle_big {
    font-size: 2.4rem; 
    text-transform: uppercase;
    font-weight: bold;
}

.filterTitle_big {
    font-size: 11.4rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.2rem var(--black);
    paint-order: stroke fill;
}

.title_big {
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 1.3;
}

.title_small {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 2.8;
}

.text_extrabig {
    font-size: 2.8rem;
    line-height: 1.5;
}

.text_big {
    font-size: 2rem;
}

.text_normal {
    line-height: 1.2;
}

.text_small {
    font-size: 1.4rem;
}

.text_bold {
    font-weight: bold;
}

.text_italic {
}

.text_underline {
    text-decoration: underline;
}

